
body{
    background:#073642;
    font-family: Arial, Helvetica, sans-serif;
    color:#839496
}

h1{
    color: #b58900;
    text-align: center;
}

.assignment {
    display:flex;
    padding:10px;
    margin: 10px;
    background: #002b36;
}

.assignment img {
    width: 200px;
    padding:10px;
}

a:link {
    color:#2aa198;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #d33682;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #859900;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #b58900;
    background-color: transparent;
    text-decoration: underline;
  }
